$icon_size: 80px; 

.pk-header {
    display: flex;
    width: 100%; 
    max-width: 2000px;
    margin: auto; 
    background-color: white; 
    flex-flow: row wrap; 
    min-height: 120px;  
    position: relative;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 600px) {
        margin-bottom: 10px; 
    }

    &__left {
        display: flex;
        flex-flow: row nowrap; 
        justify-content: space-between;
        align-items: center;
    }

    &__right{
        margin-right: 10%; 
        display: flex;
        flex-flow: row nowrap; 
        justify-content: space-between;
        align-items: center;
    }

    &__link {
        font-size: 20px;
        font-family: 'Helvetica';
        color: black;
        margin-left: 20px; 
        text-transform: uppercase;
        letter-spacing: 4px; 
        font-weight: 100; 
        cursor: pointer; 
        text-decoration: none;
        text-align: center;
    }

    &__link:hover {
        text-decoration: underline;
    }

    &__hyphen {
        font-size: 25px;
        font-family: 'Helvetica';
        color: black;
        margin-left: 20px; 
        text-transform: uppercase;
        letter-spacing: 4px; 
        font-weight: 200; 
    }

    &__icon {
        height: $icon_size; 
        width: $icon_size; 
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
        @media screen and (max-width: 600px){
            margin-left: 4px;
        }
        margin-left: 8%;
    }

    &__title {
        @media screen and (max-width:400px) {
            font-size: 30px; 
        }
        font-size: 45px;
        font-family: 'Helvetica';
        color: #9A0937;
        margin-left: 20px; 
        text-transform: uppercase;
        letter-spacing: 4px; 
        font-weight: 200; 
    }
}