<div class="pk-header" id="header">
    <div class="pk-header__left">
        <img class="pk-header__icon" src="assets/pk-logo-icon.png" alt="Preheat.Kitchen">
        <div class="pk-header__title">
            preheat    
        </div>
    </div>

    <div class="pk-header__right">
        <button class="pk-header__link" [ngxScrollTo]="'how-it-works'">How it works</button>   
        <div class="pk-header__hyphen">|</div>
        <button class="pk-header__link" [ngxScrollTo]="'about-us'">About us</button>    
    </div>
</div>