.pk-button {
    display: flex;
    flex-flow: row wrap; 
    justify-content: center;
    align-items: center;
    min-width: 150px; 
    background-color: darkred; 
    min-height: 40px; 
    max-width: 300px; 
    margin: auto; 
    border-radius: 10px; 
    cursor: pointer;
    box-shadow: 0 1px 3px;

    &__text {
        text-align: center; 
        margin: auto 10px; 
        color: white; 
        font-size: 16px; 
        text-align: center;
        font-family: "Helvetica";
        text-transform: uppercase;
        font-weight: 100;         
        letter-spacing: 4px; 
        line-height: 1.0;
    }
}