.pk-banner {
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    object-position: center;
    flex: 1;
}

.pk-container {
    width: 100%; 
    position: relative;
    image-rendering: optimizeQuality;

    &__img {
        @media only screen and (max-width: 600px) {
            height: 300px; 
        }
        height: 750px; 
        object-fit: cover;
        width: 100%; 
        opacity: .7; 
        box-shadow: gray 0 3px 10px;
    }

    &__button {
        position: absolute;
        top: 50%;
        left: 75%;
        width: 40%; 
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }
}

.pk-content-container {
    max-width: 80%;
    @media only screen and (max-width: 600px) {
        max-width: unset;
    }
    margin: 20px auto 40px auto;

    &__title {
        font-size: 45px;
        font-family: 'Helvetica';
        color: #9A0937;
        text-transform: uppercase;
        letter-spacing: 4px; 
        font-weight: 200; 
    }

    &__body {
        margin: auto;
        text-align: justify;
        width: 90%;
        font-size: 30px;
        line-height: 1.5;
        font-family: Roboto;
        font-weight: 200; 
    }
}

mat-dialog-container#pk-modal {
    border: 3px solid #262626;
    border-radius: 11px;
    background-color: #1a1a1a;
    max-height: 600px; 
}