<div class="pk-modal">
    <div class="pk-modal-bar">
        <div class="pk-modal-bar__title">Let's Get Started</div>
        <img (click)="close()" class="pk-modal-bar__exit" src="assets/close.png" alt="close">
    </div>

    <form class="pk-modal-form">
        <label class="pk-modal-form__label" for="email">Email</label>
        <input class="pk-modal-form__input" id="email" type="text" placeholder="youremail@domain.com">
        <label class="pk-modal-form__label" for="creator">Favorite Food Creator</label>
        <input class="pk-modal-form__input" id="creator" type="text">
    </form>
</div>