<div [ngClass]="{'pk-input-box--animation': submitted, 'pk-input-box': !submitted}">
    <form class="pk-input-box-form" (ngSubmit)='onSubmit()' [formGroup]="registerForm" *ngIf="!submitted">
        <label class="pk-input-box-form__label" for="email">Email</label>
        <input 
            formControlName="email"
            class="pk-input-box-form__input" 
            id="email"
            placeholder="Email" 
        >
        <div *ngIf="f.email.touched > 0 && f.email.errors" class="pk-input-box-form--error">
            <div *ngIf="f.email.errors.required">Email is required</div>
            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
        </div>

        <label class="pk-input-box-form__label" for="creator">Favorite Food Creator</label>
        <input 
            formControlName="creator" 
            class="pk-input-box-form__input" 
            id="creator" 
            type="text" 
            placeholder="Youtuber, Creator, etc"
        >            
        <button [ngClass]="buttonContainerClass" type="submit">
            <pk-button type="submit" class="pk-input-box-form__button" text="Join now" [loading]="loading"></pk-button>
        </button>
    </form>
    <div *ngIf="submitted" class="pk-input-box__success-message">
        Thanks for joining
    </div>
</div>